USE [ASMNhom2]
GO
ALTER TABLE [dbo].[SanPham] DROP CONSTRAINT [FK__SanPham__MaDM__534D60F1]
GO
ALTER TABLE [dbo].[NhapKho] DROP CONSTRAINT [FK__NhapKho__MaSP__52593CB8]
GO
ALTER TABLE [dbo].[NhanVien] DROP CONSTRAINT [FK__NhanVien__UserID__5165187F]
GO
ALTER TABLE [dbo].[KhachHang] DROP CONSTRAINT [FK__KhachHang__UserI__5070F446]
GO
ALTER TABLE [dbo].[HoaDonCT] DROP CONSTRAINT [FK__HoaDonCT__MaSP__4F7CD00D]
GO
ALTER TABLE [dbo].[HoaDonCT] DROP CONSTRAINT [FK__HoaDonCT__MaHD__4E88ABD4]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK__HoaDon__MaNV__4D94879B]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK__HoaDon__MaKH__4CA06362]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK__HoaDon__MaDC__4BAC3F29]
GO
ALTER TABLE [dbo].[GioHang] DROP CONSTRAINT [FK__GioHang__MaSP__4AB81AF0]
GO
ALTER TABLE [dbo].[GioHang] DROP CONSTRAINT [FK__GioHang__MaKH__49C3F6B7]
GO
ALTER TABLE [dbo].[DiaChi] DROP CONSTRAINT [FK__DiaChi__MaKH__48CFD27E]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/11/2025 12:06:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 10/11/2025 12:06:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SanPham]') AND type in (N'U'))
DROP TABLE [dbo].[SanPham]
GO
/****** Object:  Table [dbo].[NhapKho]    Script Date: 10/11/2025 12:06:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhapKho]') AND type in (N'U'))
DROP TABLE [dbo].[NhapKho]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/11/2025 12:06:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhanVien]') AND type in (N'U'))
DROP TABLE [dbo].[NhanVien]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/11/2025 12:06:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KhachHang]') AND type in (N'U'))
DROP TABLE [dbo].[KhachHang]
GO
/****** Object:  Table [dbo].[HoaDonCT]    Script Date: 10/11/2025 12:06:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HoaDonCT]') AND type in (N'U'))
DROP TABLE [dbo].[HoaDonCT]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 10/11/2025 12:06:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HoaDon]') AND type in (N'U'))
DROP TABLE [dbo].[HoaDon]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 10/11/2025 12:06:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GioHang]') AND type in (N'U'))
DROP TABLE [dbo].[GioHang]
GO
/****** Object:  Table [dbo].[DiaChi]    Script Date: 10/11/2025 12:06:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DiaChi]') AND type in (N'U'))
DROP TABLE [dbo].[DiaChi]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 10/11/2025 12:06:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DanhMuc]') AND type in (N'U'))
DROP TABLE [dbo].[DanhMuc]
GO
USE [master]
GO
/****** Object:  Database [ASMNhom2]    Script Date: 10/11/2025 12:06:32 PM ******/
DROP DATABASE [ASMNhom2]
GO
/****** Object:  Database [ASMNhom2]    Script Date: 10/11/2025 12:06:32 PM ******/
CREATE DATABASE [ASMNhom2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASMNhom2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ASMNhom2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASMNhom2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ASMNhom2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASMNhom2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASMNhom2]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 10/11/2025 12:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChi]    Script Date: 10/11/2025 12:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChi](
	[MaDC] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[TenNN] [nvarchar](100) NULL,
	[MacDinh] [bit] NULL,
	[SDT] [nvarchar](15) NULL,
	[DiemGiao] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 10/11/2025 12:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[MaSP] [int] NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 10/11/2025 12:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[MaNV] [int] NULL,
	[MaDC] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[NgayMua] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonCT]    Script Date: 10/11/2025 12:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonCT](
	[MaHDCT] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[MaSP] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/11/2025 12:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/11/2025 12:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](100) NULL,
	[UserID] [int] NULL,
	[Vaitro] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapKho]    Script Date: 10/11/2025 12:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapKho](
	[MaNK] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NULL,
	[SoLuong] [int] NULL,
	[NgayNK] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 10/11/2025 12:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[MaDM] [int] NULL,
	[Hinh] [nvarchar](255) NULL,
	[TenSP] [nvarchar](100) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[PhanLoai] [nvarchar](100) NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/11/2025 12:06:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Mail] [nvarchar](100) NULL,
	[Pass] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (1, N'Điện thoại')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (2, N'Máy tính bảng')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (3, N'Laptop')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DiaChi] ON 

INSERT [dbo].[DiaChi] ([MaDC], [MaKH], [TenNN], [MacDinh], [SDT], [DiemGiao]) VALUES (1, 1, N'Nguyễn Văn A', 1, N'0901111111', N'123 Lê Lợi, Q1, TP.HCM')
INSERT [dbo].[DiaChi] ([MaDC], [MaKH], [TenNN], [MacDinh], [SDT], [DiemGiao]) VALUES (2, 1, N'Nguyễn Văn A2', 0, N'0901111111', N'123 Lê Lợi, Q1, TP.HCM')
INSERT [dbo].[DiaChi] ([MaDC], [MaKH], [TenNN], [MacDinh], [SDT], [DiemGiao]) VALUES (3, 2, N'Nguyễn Văn B', 1, N'0902222222', N'45 Trần Phú, Hà Nội')
SET IDENTITY_INSERT [dbo].[DiaChi] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([MaGH], [MaKH], [MaSP], [SoLuong]) VALUES (1, 1, 1, 1)
INSERT [dbo].[GioHang] ([MaGH], [MaKH], [MaSP], [SoLuong]) VALUES (2, 1, 2, 2)
INSERT [dbo].[GioHang] ([MaGH], [MaKH], [MaSP], [SoLuong]) VALUES (3, 1, 3, 1)
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV], [MaDC], [TrangThai], [NgayMua]) VALUES (1, 1, 2, 1, N'Đang giao', CAST(N'2025-10-01' AS Date))
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV], [MaDC], [TrangThai], [NgayMua]) VALUES (2, 2, 2, 2, N'Đã từ chối', CAST(N'2025-10-02' AS Date))
INSERT [dbo].[HoaDon] ([MaHD], [MaKH], [MaNV], [MaDC], [TrangThai], [NgayMua]) VALUES (3, 3, 2, 3, N'Chờ duyệt', CAST(N'2025-10-03' AS Date))
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDonCT] ON 

INSERT [dbo].[HoaDonCT] ([MaHDCT], [MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (1, 1, 1, 1, 29990000)
INSERT [dbo].[HoaDonCT] ([MaHDCT], [MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (2, 1, 2, 2, 27990000)
INSERT [dbo].[HoaDonCT] ([MaHDCT], [MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (3, 1, 3, 1, 32990000)
SET IDENTITY_INSERT [dbo].[HoaDonCT] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [UserID]) VALUES (1, N'Nguyễn Văn A', N'0901111111', 6)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [UserID]) VALUES (2, N'Trần Thị B', N'0902222222', 7)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [UserID]) VALUES (3, N'Lê Văn C', N'0903333333', 8)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [UserID], [Vaitro]) VALUES (1, N'Admin', 1, N'Admin')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [UserID], [Vaitro]) VALUES (2, N'Nhân viên 1', 2, N'Nhân viên')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [UserID], [Vaitro]) VALUES (3, N'Nhân viên 2', 3, N'Nhân viên')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhapKho] ON 

INSERT [dbo].[NhapKho] ([MaNK], [MaSP], [SoLuong], [NgayNK]) VALUES (1, 1, 50, CAST(N'2025-09-01' AS Date))
INSERT [dbo].[NhapKho] ([MaNK], [MaSP], [SoLuong], [NgayNK]) VALUES (2, 2, 40, CAST(N'2025-09-02' AS Date))
INSERT [dbo].[NhapKho] ([MaNK], [MaSP], [SoLuong], [NgayNK]) VALUES (3, 3, 20, CAST(N'2025-09-03' AS Date))
SET IDENTITY_INSERT [dbo].[NhapKho] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [MaDM], [Hinh], [TenSP], [SoLuong], [DonGia], [PhanLoai], [MoTa]) VALUES (1, 1, N'sp1.jpg', N'iPhone 15 Pro', 20, 29990000, N'Điện thoại', N'Smartphone cao cấp của Apple')
INSERT [dbo].[SanPham] ([MaSP], [MaDM], [Hinh], [TenSP], [SoLuong], [DonGia], [PhanLoai], [MoTa]) VALUES (2, 1, N'sp2.jpg', N'Samsung S24 Ultra', 25, 27990000, N'Điện thoại', N'Flagship mới nhất của Samsung')
INSERT [dbo].[SanPham] ([MaSP], [MaDM], [Hinh], [TenSP], [SoLuong], [DonGia], [PhanLoai], [MoTa]) VALUES (3, 3, N'sp3.jpg', N'MacBook Air M2', 10, 32990000, N'Laptop', N'Máy mỏng nhẹ hiệu năng cao')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Mail], [Pass]) VALUES (1, N'admin@gmail.com', N'123')
INSERT [dbo].[Users] ([UserID], [Mail], [Pass]) VALUES (2, N'NhanVien1@gmail.com', N'123')
INSERT [dbo].[Users] ([UserID], [Mail], [Pass]) VALUES (3, N'NhanVien2@gmail.com', N'123')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[DiaChi]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaDC])
REFERENCES [dbo].[DiaChi] ([MaDC])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonCT]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[HoaDonCT]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
USE [master]
GO
